#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.rounded-button {
  border-radius: 8px;
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}